{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <h2>{% trans "Choose your cricket" %}</h2>
</div>

<div class="button-row">
  <div style="position: relative; margin-top: -2vw;">
    {% for c in crickets %}
    <div class="frame{{forloop.counter0}}">
      <a href="/play/{{c.id}}">
	<img class="portrait{{forloop.counter0}}" src="/media/images/2013-Wings/{{ c.tag }}.JPG" onerror="this.src='/media/images/missing.jpg'"></a>  
      <a href="/play/{{c.id}}">
	<img class="cframe{{forloop.counter0}}" src="/media/images/pictureframes/frame-{{forloop.counter0}}.png"></a>      
    </div>
    {% endfor %}
  </div>
</div>

{% get_current_language as LANGUAGE_CODE %}
<div class="centred-block" {% if "es" == LANGUAGE_CODE %} style="margin-top: 32vw; font-size:80%;" {% else %} style="margin-top: 32vw" {% endif %}>
  {% trans "You will see 5 different 30 second videos of your cricket." %}
</div>

<div class="centred-block" {% if "es" == LANGUAGE_CODE %} style="font-size:80%;" {% endif %}>
  {% trans "The data you generate will tell you about your cricket's personality." %}
</div>

<div class="centred-block" {% if "es" == LANGUAGE_CODE %} style="font-size:80%;" {% endif %}>
  {% trans "Don't worry if they are hiding in their burrow, this is valuable data too!" %}
</div>

<div class="button-row">
{% if not request.session.group_id %}
{% if not request.session.exhib %}
    <button class="small" onclick="window.location.href='/'">
{% else %}
    <button class="small" onclick="window.location.href='/exhib/'">
{% endif %}
    {% trans "Quit" %}
  </button>
{% endif %}
  <button class="small"
	  onclick="window.location.href='/training/'">
    {% trans "Return to training" %}
  </button>  
</div>

{% endblock %}
