{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">

  <h2>Register your class</h2>
  <p>
  Setup your classroom session in advance below. Make a record of your
  group ID shown here, so you can provide it to your students to use
  to login.
  </p>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
  </form>
  
</div>

{% endblock %}
