{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <p>
    <h2>
      Are you from {{class_name}} at {{school_name}}?
    </h2>
  </p>
  
  <div class="button-row">
    <button onclick="window.location.href='/login/'">
      {% trans "NO" %}
    </button>  
    <button onclick="window.location.href='/welcome/'">
      {% trans "YES" %}
    </button>  
  </div>

</div>

{% endblock %}
