{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}
<div class="centred-block">
  <h1 {% if "es" == LANGUAGE_CODE %} style="margin: 0; font-size:300%;" {% else %} style="margin: 0;" {% endif %}>{% trans "Cricket Tales" %}</h1>
</div>

<div class="button-row">
  <img src="/media/images/twitch2.gif" style="width: 10wv;">
</div>

<div class="centred-block">

  <form class="login" action="/login/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
  <p>
    <a href="/newclassgroup/"><button class="small">Setup a new classroom</button></a>
  </p>


</div>

<div class="button-row">
  <img src="/media/images/cricket_schools_new_logos.png" style="width: 40vw; height: auto;">
</div>

{% endblock %}
