{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <h3>{% trans "Your cricket&thinsp;'s personality:" %}</h3>
</div>

<!-- -->
<div class="personality-block">
  <div class="left" style="width:25%">
    <div class="personality-portrait">
      <img class="pp-pic" src="/media/images/2013-Wings/{{ cricket.tag2 }}.JPG"  onerror="this.src='/media/images/missing.jpg'"> 
      <img class="pp-frame" src="/media/images/pictureframes/frame-5.png">
    </div>
  </div>
  <div class="right">
    <div class="results-tab">
      {% trans "Eating" %}
      <div class="personality-pointer" style="left: {{ eating_score }}%">	
	<img src="/media/images/pointer.png" style="width: 2vw;">
      </div> 
    </div>
    <div class="results-tab">
      {% trans "Singing" %}
      <div class="personality-pointer" style="left: {{ singing_score }}%">	
	<img src="/media/images/pointer.png" style="width: 2vw;">
      </div> 
    </div>
    <div class="results-tab">
      {% trans "Moving" %}
      <div class="personality-pointer" style="left: {{ moving_score }}%">	
	<img src="/media/images/pointer.png" style="width: 2vw;">
      </div> 
    </div>
    <div class="results-tab daynight">
      <div class="personality-pointer" style="left: {{ daynight_score }}%">	
	<img src="/media/images/pointer.png" style="width: 2vw;">
      </div> 
      <div class="left">
	{% trans "Early" %}
      </div>
      <div class="right">
	{% trans "Late" %}
      </div>
    </div>
  </div>

  {% trans "Adding your data to other players’, shows that" %} {{ cricket.tag }}
  {% if eating_score < 33 %} 
    {% trans "eats less than normal," %}
  {% elif eating_score > 66 %} 
    {% trans "eats more than normal," %}
  {% else %} 
    {% trans "eats an average amount," %} 
  {% endif %}

  {% if singing_score < 33 %} 
    {% trans "doesn't sing much," %}
  {% elif singing_score > 66 %} 
    {% trans "sings more than others," %}
  {% else %} 
    {% trans "sings an average amount," %}
  {% endif %}

  {% if moving_score < 33 %} 
    {% trans "moves less than most crickets," %}
  {% elif moving_score > 66 %} 
    {% trans "moves more than most crickets," %}
  {% else %} 
    {% trans "moves about an average amount," %}
  {% endif %}

  {% if daynight_score < 50 %} 
    {% trans "and is more active early in the day." %}
  {% else %} 
    {% trans "and is more active late in the day." %} 
  {% endif %}
			 
</div>

<div class="button-row">
{% if not request.session.group_id %}
  <button class="small"
	  onclick="window.location.href='/leaderboard/{{ cricket.id }}'"> 
    {% trans "Leaderboard" %}
  </button>
{% endif %}

{% if not request.session.group_id %}
  <button class="small"
	      onclick="window.location.href='/results_movement/{{ cricket.id }}'">
{% else %}
   <button class="small"
	  onclick="window.location.href='/results_class/{{ cricket.id }}'">
{% endif %}    
    {% trans "More results" %}
   </button>
   
  <button class="small"
	  onclick="window.location.href='/choose/'">
    {% trans "Play again" %}
  </button>

{% if not request.session.group_id %}
{% if not request.session.exhib %}
  <button class="small" onclick="window.location.href='/'">
{% else %}
  <button class="small" onclick="window.location.href='/exhib/'">
{% endif %}
    {% trans "Quit" %}
  </button>
</div>
{% endif %}

{% endblock %}
