{% extends "base.html" %}
{% load i18n %}
{% block crickets_stuff %}

<div id="title" class="full-width-centred-block">
  <h3>{% trans "You are watching cricket: " %} {{ cricket.tag }} {% trans " video: " %} <span id="video-num">{% trans "1/5" %}</span></h3>
</div>
<div class="video-top">
  <div class="video-container">
    <!-- start with first movie, then register the rest at the bottom -->
    <!-- webkit-playsinline="true" playsinline="true" autoplay="true" muted="muted" -->
    <video nocontrols id="ourvideo">
      <source src="" type="video/mp4"/>
      <source src="" type="video/ogg"/>
      {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
    </video>

    <div id="popup" class="video-popup">
      <span id="popup-text"></span>
    </div>
    
    <div class="timeline-container">
      <button class="toggle-button play" style="float: left; background: url(/media/images/movie_buttons/pause.png); background-size: 100% 100%;" onclick='play_state_toggle()'></button>
      <button class="play" style="float:left; background: url(/media/images/movie_buttons/redo.png); background-size: 100% 100%;"
              onclick="restart_click();"></button>
      <div id="timeline" class="timeline">
	<div class="timeline_line"></div>
	<div id="time" class="time"></div> 
      </div>
    </div>
  </div>  

  <div class="video-button-container">
    <div class="button-container">
      <button id="sun" class="image" onclick="watching_click('sun');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sun.png">	  
	{% trans "Sunny" %}
      </button>  
      <button id="shade" class="image" onclick="watching_click('shade');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/cloud.png">	  
	{% trans "Cloudy" %}
      </button>  
      <button id="night" class="image" onclick="watching_click('night');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/night.png">	  
	{% trans "Night" %}
      </button>  
    </div>
    
    <div class="button-container">
      <button id="in" class="image" onclick="watching_click('in');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/in.png">	  
	{% trans "In" %}
      </button>  
      <button id="mid" class="image" onclick="watching_click('mid');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/mid.png">	  
	{% trans "Mid" %}
      </button>  
      <button id="out" class="image" onclick="watching_click('out');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/out.png">	  
	{% trans "Out" %}
      </button>  
    </div>

    <div class="centred-block">
      <div class="button-container">
	<button id="singing" class="image" onclick="watching_click('singing');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sing.png">	  
	  {% trans "Singing" %}
	</button>  
	<button id="eating" class="image" onclick="watching_click('eating');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/eat.png">	  
	  {% trans "Eating" %}
	</button>  
      </div>
    </div>

  </div>
</div>

<div class="button-row" style="clear:left; padding-top:0em;">
  {% if not request.session.group_id %}
  {% if done_keyboard %}
  <button class="small"
	  onclick="window.location.href='/personality/{{ cricket.id }}'">
  {% else %}
  <button class="small"
	  onclick="window.location.href='/keyboard/{{ cricket.id }}'">
  {% endif %} <!-- done_keyboard -->
    {% trans "Quit" %}
  </button>  
  {% endif %} <!-- group_id -->
  <button class="small"
	  onclick="window.location.href='/training/'">
    {% trans "Return to training" %}
  </button>
  <!-- not via keyboard in classroom mode -->
  <button class="small"
	  onclick="window.location.href='/personality/{{ cricket.id }}'">
    {% trans "Quit and go to results" %}
  </button>
</div>

{% for m in movies %}
<script>
  register_movie("{{ m.id }}","{{ m.name }}","{{ m.season }}/{{ m.camera }}");
</script>
{% endfor %}

<script>
translated_text = {
watching_wait_load: '{% trans "Loading video, please wait..." %}',
watching_burrow_start: '{% trans "Please click on the burrow first." %}',
watching_cricket_start: '{% trans "Now click on the cricket if it&apos;s visible, or click: " %}',
watching_video: '{% trans "Video playing..." %}',
watching_weather_prompt: '{% trans "What is the weather like?" %}',
watching_cricket_end: '{% trans "Click on the cricket one more time, or click: " %}',    
watching_no_cricket: '{% trans "Not visible" %}',
watching_finished: '{% trans "Thank you for your help! Loading video " %}'
}

register_csrf("{{ csrf_token }}");
video_setup({{ player_id }},{{ cricket.id }},"{{ done_keyboard }}");
</script>

{% endblock %}
