{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}
<script src="{{ MEDIA_URL }}js/chart.js"></script>
<script src="{{ MEDIA_URL }}js/class_graphs.js"></script>

<div class="centred-block">
  <h3 id="graph-title">{% trans "Research results : Movement" %}</h3>
</div>

{% get_current_language as LANGUAGE_CODE %}

<div class="results-block" style="position: relative; margin-top: 1vw;">
 
    <div style="text-align: center;">
      <button id="show_2" class="small" style='background:#f98948;'>My data</button>
      <button id="show_1" class="small" style='background:#93d9cc;'>Class data</button>
      <button id="show_0" class="small" style='background:#f2ff38;'>All data</button>
    </div>   
          
    <div class="graph-container">
      <div class="dropdown" style="width: 4em;">
		<span id="y-axis">How many times the crickets moved</span>             
		<div class="dropdown-content">
          This is the y axis. It shows how many times the crickets were recorded doing a particular activity.
		</div>
	  </div>
      <div style="width:100%;">
        <canvas id="myChart" width="400" height="140"></canvas>
      </div>
      
    </div>
    <div class="dropdown">
	  <span>Time of day</span>             
	  <div class="dropdown-content">
        This is the x axis. It shows what time of day it is using the 24 hour clock.
	  </div>
	</div>
      
</div>

<div class="button-row">

  <button id="type_0" class="small">Movement</button>
  <button id="type_1" class="small">Eating</button>
  <button id="type_2" class="small">Singing</button>

  <button class="small"
	    onclick="window.location.href='/personality/{{ cricket.id }}'">
      {% trans "My Cricket" %}
    </button>
    <button class="small"
	    onclick="window.location.href='/choose/'">
      {% trans "Play again" %}
    </button>
    
    <button class="small" onclick="window.location.href='/login/'">
	  {% trans "Quit" %}
    </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      setup_class_graphs({{ hists }});
  }, false);
</script>

{% endblock %}
