{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  <h3>{% trans "Training video - watch the cricket!" %}</h3>
</div>

<!-- -->

<div class="video-top">
  <div class="video-container">
    <video nocontrols id="ourvideo">
      <source src="{{ MEDIA_URL }}movies/tutorial/singing.mp4"/>
      <source src="{{ MEDIA_URL }}movies/tutorial/singing.ogv"/>
      {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
    </video>
    
    {% get_current_language as LANGUAGE_CODE %}
    <div class="video-popup">
      <span id="popup-text" {% if "es" == LANGUAGE_CODE %} style="font-size:70%;" {% endif %}></span>
    </div>

    <div class="timeline-container">
      <button class="toggle-button play" style="float: left; background: url(/media/images/movie_buttons/pause.png); background-size: 100% 100%;" onclick='play_state_toggle()'></button>
      <button class="play" style="float:left; background: url(/media/images/movie_buttons/redo.png); background-size: 100% 100%;"
              onclick="restart_click();"></button>
      <div id="timeline" class="timeline">
	<div class="timeline_line"></div>
	<div id="time" class="time"></div> 
      </div>
    </div>
  </div>  

  <div class="video-button-container">
    <div class="button-container">
      <button id="sun" class="image" onclick="training_click('sun');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sun.png">	  
	{% trans "Sunny" %}
      </button>  
      <button id="shade" class="image" onclick="training_click('shade');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/cloud.png">	  
	{% trans "Cloudy" %}
      </button>  
      <button id="night" class="image" onclick="training_click('night');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/night.png">	  
	{% trans "Night" %}
      </button>  
    </div>
    
    <div class="button-container">
      <button id="in" class="image" onclick="training_click('in');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/in.png">	  
	{% trans "In" %}
      </button>  
      <button id="mid" class="image" onclick="training_click('mid');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/mid.png">	  
	{% trans "Mid" %}
      </button>  
      <button id="out" class="image" onclick="training_click('out');">
	<img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/out.png">	  
	{% trans "Out" %}
      </button>  
    </div>

    <div class="centred-block">
      <div class="button-container">
	<button id="singing" class="image" onclick="training_click('singing');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/sing.png">	  
	  {% trans "Singing" %}
	</button>  
	<button id="eating" class="image" onclick="training_click('eating');">
	  <img class="image-button-image" src="{{MEDIA_URL}}/images/buttons2/eat.png">	  
	  {% trans "Eating" %}
	</button>  
      </div>
    </div>

  </div>
</div>

<div class="button-row" style="clear:left; padding-top:0em;">
{% if not request.session.group_id %}
{% if not request.session.exhib %}
    <button class="small" onclick="window.location.href='/'">
{% else %}
    <button class="small" onclick="window.location.href='/exhib/'">
{% endif %}
    {% trans "Quit" %}
  </button>
{% endif %}
  <button class="small"
	  onclick="window.location.href='/choose/'">
    {% trans "Skip" %}
  </button>  
</div>

<script>
  var translated_text = { 
  next: '{% trans "Next" %}',
  training_start: '{% trans "Welcome to the Cricket Tales training..." %}',
  training_start2: '{% trans "These videos provide examples of the behaviours we are looking for and how to record them." %}',
  training_start3: '{% trans "Every video contains a burrow - a hole in the ground where your cricket lives." %}',
  training_loading_singing: '{% trans "Loading first video..." %}',
  training_singing: '{% trans "This cricket is singing, notice its wings fluttering - click on the singing button to record this behaviour." %}',
  training_loading_eating: '{% trans "Loading next video..." %}',
  training_eating: '{% trans "The cricket has changed what it is doing. It is now eating – click the eating button." %}',			
  training_eating2: '{% trans "Well done! We only need to know which videos contain eating or singing, so only click these buttons once per video." %}',			
  training_loading_in: '{% trans "Loading next video..." %}',
  training_in: '{% trans "We are also interested in how much the cricket moves around. The cricket is completely inside its burrow – click the &apos;in&apos; button." %}',
  training_loading_mid: '{% trans "Loading next video..." %}',
  training_mid: '{% trans "The cricket has now stopped midway in/out of its burrow – click the &apos;mid&apos; button." %}',
  training_loading_out: '{% trans "Loading next video..." %}',
  training_out: '{% trans "The cricket has moved and is completely outside its burrow – click the &apos;out&apos; button." %}',
  training_out2: '{% trans "Well done! You can click these buttons multiple times per video as the cricket moves around." %}',
  training_loading_sun: '{% trans "Loading next video..." %}',
  training_sun: '{% trans "The weather can change cricket behaviour. It is sunny – the image is full colour and bright, click the sunny button." %}',
  training_loading_shade: '{% trans "Loading next video..." %}',
  training_shade: '{% trans "The weather has changed and it is cloudy now – the image is in colour but shadows aren&apos;t distinct – click the cloudy button." %}',
  training_loading_night: '{% trans "Loading next video..." %}',
  training_night: '{% trans "It is night time – the infra red cameras are on so the image is black and white – click the night button." %}',
  training_night2:'{% trans "Well done! As with eating and singing, we only need you to record the weather once per video." %}',
  training_overview: '{% trans "Some crickets move in and out more than others. Recording their behaviour will tell you about your cricket&apos;s personality." %}', 
  training_pause: '{% trans "Click the pause button if you need time to think, and the play button when you&apos;re ready to start again" %}',
  training_restart: '{% trans "Click the restart button if you make a mistake and want to start the video again" %}',
  training_congrats: '{% trans "Well done!" %}',
  training_finished: '{% trans "Your training is complete." %}'
  }

  training_video_setup();
</script>

{% endblock %}
