{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">
  
  <p>
    Watch scientist Professor Tom Tregenza explain Cricket Tales
  </p>
  
  <video nocontrols id="ourvideo">
    <source src="/media/movies/introduction.mp4" type="video/mp4"/>  
    {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
  </video>

  <div class="subs-container">
    <div id="subs"></div>
  </div>
  
  <div class="timeline-container" style="padding-left: 8em; width: auto;">
    <button class="toggle-button play" style="float: left; background: url(/media/images/movie_buttons/pause.png); background-size: 100% 100%;" onclick='play_state_toggle()'></button>
    <div id="timeline" class="timeline">
	  <div class="timeline_line"></div>
	  <div id="time" class="time"></div> 
    </div>
  </div>
  
  
  <div class="button-row">
    <button onclick="window.location.href='/training/'">
      {% trans "NEXT" %}
    </button>  
  </div>
  
  <script>
    plain_video_setup("/media/movies/introduction.srt");
  </script>
  
</div>

{% endblock %}
